*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left bottom, #112ad3, #0074ff, #00a4ff, #00ccdc, #00eeb9);
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.container{
    width: 50%;
    margin: auto;
    padding: 20px;
}


h1{
    text-align: center;
    color: #fff9f9;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #454545;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    display: block;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    background-color: #a19d9d70;
    padding: 20px;
    box-shadow: 4px 4px 4px 2px #000000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type=text],input[type=mail], select{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 10px;

  }
  
  input[type="submit"] {
    width: 35%;
    margin-top: 20px;
    background-color: #7ecbf3;
    color: #282828;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  input[type="submit"]:hover{
    width: 95%;
    background-color: #59acff;
    color: #f6f6f6;
    text-shadow: 4px 4px 4px #000000;
    box-shadow: 4px 4px 4px #000000;
    
  }
